# SPDX-FileCopyrightText: 2021 Kattni Rembor for Adafruit Industries
#
# SPDX-License-Identifier: Unlicense

sphinx>=4.0.0
adafruit-circuitpython-esp32spi>=5.0.0
adafruit-circuitpython-minimqtt>=5.3.2
adafruit-circuitpython-rsa>=1.2.12
adafruit-circuitpython-hashlib>=1.4.5
